.bmi-box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: -12em 20px 72px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  background: #fff;
  text-align: center;

  @include min-width(medium) {
    margin: -18rem 40px 72px;
  }

  @include min-width(large) {
    position: absolute;
    margin: 0;
    top: 12vh;
    right: 10vw;
    width: 37vw;
  }

  h3 {
    margin-left: 1rem;
    margin-bottom: 18px;

    @include min-width(medium) {
      text-align: left;
      margin-bottom: 2.5rem;
    }
  }

  .unit-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;

    @include min-width(medium) {
      justify-content: space-between;
      margin-left: 2%;
      margin-right: 19%;
    }
  }
}

.imperial-box {
  @include min-width(large) {
    top: 6vh;
  }
}