.header {
    height: 100vh;
    padding: 32px 24px;
    border-radius: 0 0 50px 50px;
    background: linear-gradient(to left, $gradient-start, $gradient-end);
    text-align: center;  
    h1 {
        margin: 24px auto;
    }

    p{
        line-height: 24px;
    }
}