.single-limit {
  margin: 24px 0 2px;
  padding: 24px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 16px 32px 56px hsla(211, 40%, 69%, 0.25);
  text-align: left;

  @include min-width(medium) {
    width: 42vw;
  }

  @include min-width(large) {
    position: absolute;
    width: 30vw;
  }

  p {
    margin-bottom: 12px;
  }

  .limit-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .icon {
      margin-right: 15px;
    }
  }
}

.Gender {
  @include min-width(large) {
    top: -2em;
    right: 7em;
  }
}
.Age {
  @include min-width(large) {
    top: 13.5em;
  }
}
.Muscle {
  @include min-width(large) {
    top: 13.5em;
    right: 0;
  }
}
.Pregnancy {
  @include min-width(large) {
    top: 27em;
    left: 17em;
  }
}
.Race {
  @include min-width(large) {
    top: 27em;
    right: 11em;
  }
}
