.limits {
  text-align: center;
  margin: 72px 20px;

  @include min-width(medium) {
    margin: 72px 40px;
  }

  h2 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 56px;
  }

  .individual-limits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
}
