#manEating {
    width: 100vw;
    border-radius: 32px;
}

.whatsItMean{
    margin: 24px;

    p {
        margin-top: 32px;
    }
}

.requirements {
    margin-top: 112px;
    padding: 50px 0;
    background: linear-gradient(to left, $meaning-gradient-start, $meaning-gradient-end);
}

