.meaning-header {

    @include min-width(medium) {
        display: flex;
        justify-content: space-between;
    }

    @include min-width(large) {
      position: relative;
      align-items: center;
    }

    #curve-r {
      position: absolute;
      top: 2vh;
      right: 8vw;
    }


  #manEating {
    width: 100vw;
    border-radius: 32px;
   
    @include min-width(medium) {
        margin-left: -8vw;
        width: 52vw;
        height: auto;
    }
   
    @include min-width(large) {
        margin: 6vh 7vw;
        width: 42vw;
        height: auto;
    }
    
  }

  .whats-it-mean {
    margin: 24px;

    @include min-width(medium) {
        margin: 0 42px 0 30px;
        width: 42vw;

    }

    @include min-width(large) {
        margin: 7vw 7vw 0 30px;
        width: 42vw;

    }

    h2 {
        @include min-width(medium) {
            margin-top: 24px;
        }
    }

    p {
      margin-top: 28px;

      @include min-width(medium) {
        margin-top: 22px;
    }
    }
  }
}

.requirements {
  margin-top: 60px;
  padding: 50px 40px;
  background: linear-gradient(to left, $meaning-gradient-start, $meaning-gradient-end);

  @include min-width(large) {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    border-radius: 35px;
  }
}
