@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import './reset';
@import './colors';
@import './media';
@import './header';
@import './bmicalculatorbox';
@import './radioinput';
@import './metricstats';
@import './imperialstats';
@import './bmiscorebox';
@import './meaning';
@import './requirements';
@import './limitations.scss';
@import './limit';

$inter: 'Inter', sans-serif;

body {
  box-sizing: border-box;
  font-family: $inter;
  font-size: 16px;
  font-weight: normal;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  color: $heading;

  @include min-width(medium) {
    width: 54%;
  }

  @include min-width(large) {
    width: 71%;
    font-size: 64px;
  }
}

h2 {
  font-size: 32px;
  font-weight: 600;
  @include min-width(large) {
    font-size: 48px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: $heading;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  color: $heading;
}

p {
  font-weight: 400;
  color: $body;
  line-height: 24px;
}

.app {
  @include min-width(large) {
    position: relative;
  }
}
