@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

  html,
body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

  footer,
header, nav, section, main {
  display: block;
}

  body {
  line-height: 1;
}

  ol,
ul {
  list-style: none;
}

  blockquote,
q {
  quotes: none;
}

  blockquote:before,
blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

  table {
  border-collapse: collapse;
  border-spacing: 0;
}

  input {
  -webkit-appearance: none;
  border-radius: 0;
}

.header {
  position: relative;
  height: 45rem;
  padding: 32px 24px;
  border-radius: 0 0 50px 50px;
  background: linear-gradient(to left, hsl(216, 95%, 92%), hsla(184, 95%, 92%, 0));
  text-align: center;
}
.header h1 {
  margin: 24px auto;
}
.header p {
  line-height: 24px;
}
@media (min-width: 768px) {
  .header {
    height: 42rem;
  }
}

.bmi-box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: -12em 20px 72px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  background: #fff;
  text-align: center;
}
.bmi-box h3 {
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .bmi-box h3 {
    text-align: left;
  }
}
.bmi-box .unit-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .bmi-box .unit-box {
    justify-content: space-between;
    margin-right: 23%;
  }
}
@media (min-width: 768px) {
  .bmi-box {
    margin: -18rem 40px 72px;
  }
}

.unit {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 40px;
  padding-left: 40px;
  transform: translateX(-35px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.unit label {
  margin-top: 20px;
}
.unit input {
  display: none;
}
.unit input:checked + .circle {
  border: none;
  background-color: hsla(227, 92%, 58%, 0.15);
}
.unit input:checked + .circle:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: hsl(227, 92%, 58%);
  transform: translate(-50%, -50%);
}
.unit .circle {
  position: absolute;
  top: -12%;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid hsl(200, 24%, 88%);
  border-radius: 50%;
  background-color: #fff;
}

.metric-stats {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .metric-stats {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.metric-stats .metric-height, .metric-stats .metric-weight {
  position: relative;
  margin-bottom: 14px;
  font-size: 14px;
  color: hsl(215, 17%, 44%);
  text-align: left;
}
.metric-stats .metric-height-input, .metric-stats .metric-weight-input {
  display: block;
  width: 100%;
  height: 69px;
  margin-top: 10px;
  padding: 24px;
  border: 1px solid hsl(200, 24%, 88%);
  border-radius: 12px;
  font-size: 24px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .metric-stats .metric-height-input, .metric-stats .metric-weight-input {
    width: 95%;
    padding: 15px;
  }
}
.metric-stats .metric-height .metric-label, .metric-stats .metric-weight .metric-label {
  position: absolute;
  top: 45px;
  right: 1.5rem;
  font-size: 24px;
  font-weight: 600;
  color: blue;
}
@media (min-width: 768px) {
  .metric-stats .metric-height .metric-label, .metric-stats .metric-weight .metric-label {
    right: 4rem;
  }
}

.imperial-stats {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}
.imperial-stats .imperial-height,
.imperial-stats .imperial-weight {
  display: block;
  position: relative;
  margin-bottom: 14px;
  font-size: 14px;
  color: hsl(215, 17%, 44%);
  text-align: left;
}
.imperial-stats .imperial-height-input,
.imperial-stats .imperial-weight-input {
  position: relative;
  display: inline-block;
  width: 47%;
  height: 69px;
  margin-top: 10px;
  padding: 24px;
  border: 1px solid hsl(200, 24%, 88%);
  border-radius: 12px;
  font-size: 24px;
  font-weight: 600;
}
.imperial-stats .imperial-height .label-container,
.imperial-stats .imperial-weight .label-container {
  display: flex;
  justify-content: space-between;
}
.imperial-stats .imperial-height .label-container .imperial-label,
.imperial-stats .imperial-weight .label-container .imperial-label {
  position: absolute;
  top: 45px;
  font-size: 24px;
  font-weight: 600;
  color: blue;
  z-index: 1;
}
.imperial-stats .imperial-height .label-container #label-left,
.imperial-stats .imperial-weight .label-container #label-left {
  left: 5.5rem;
}
.imperial-stats .imperial-height .label-container #label-right,
.imperial-stats .imperial-weight .label-container #label-right {
  right: 1.5rem;
}

.bmi-score-card {
  margin: 10px;
  padding: 32px 55px 32px 32px;
  border-radius: 16px;
  background: linear-gradient(hsl(227, 92%, 58%), hsl(227, 100%, 67%));
  font-weight: 600;
  color: #fff;
  text-align: left;
}
@media (min-width: 768px) {
  .bmi-score-card {
    position: relative;
    height: 140px;
    border-radius: 16px 85px 85px 16px;
  }
}
.bmi-score-card .score {
  display: block;
  font-size: 48px;
}
@media (min-width: 768px) {
  .bmi-score-card .score {
    position: absolute;
  }
}
.bmi-score-card p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 21px;
}
@media (min-width: 768px) {
  .bmi-score-card .status-range {
    position: absolute;
    left: 50%;
    right: 5%;
    top: 30%;
  }
}
.bmi-score-card .range {
  font-weight: 600;
}

#manEating {
  width: 100vw;
  border-radius: 32px;
}

.whatsItMean {
  margin: 24px;
}
.whatsItMean p {
  margin-top: 32px;
}

.requirements {
  margin-top: 112px;
  padding: 50px 0;
  background: linear-gradient(to left, hsla(216, 95%, 92%, 0.5), hsla(184, 95%, 92%, 0));
}

.requirement {
  margin: 0 20px 5px;
  padding: 30px 0 20px;
}
.requirement h3, .requirement p {
  margin-top: 24px;
}

.limits {
  text-align: center;
  margin: 72px 20px;
}
.limits h2 {
  margin-bottom: 30px;
}
.limits p {
  margin-bottom: 56px;
}

.single-limit {
  margin: 24px 0 16px;
  padding: 24px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 16px 32px 56px hsla(211, 40%, 69%, 0.25);
  text-align: left;
}
.single-limit p {
  margin-bottom: 12px;
}
.single-limit .limit-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.single-limit .limit-header .icon {
  margin-right: 15px;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  color: hsl(215, 31%, 21%);
}
@media (min-width: 768px) {
  h1 {
    max-width: 54%;
  }
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: hsl(215, 31%, 21%);
}

h4 {
  font-size: 20px;
  font-weight: 600;
  color: hsl(215, 31%, 21%);
}

p {
  font-weight: 400;
  color: hsl(215, 17%, 44%);
  line-height: 24px;
}/*# sourceMappingURL=App.css.map */