@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import './reset';
@import './colors';
@import './header';
@import './bmicalculatorbox';
@import './radioinput';
@import './metricstats';
@import './imperialstats';
@import './bmiscorebox';

$inter: 'Inter', sans-serif;

body {
    box-sizing: border-box;
    font-family: $inter;
    font-size: 16px;
    font-weight: normal;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    color: $heading
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    color: $heading;
}

// h4 20px

p {
    // font-size: 16px;
    font-weight: 400;
    color: $body;
}
